body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.navigation {
    position: relative;
    left: 0;
    top: 0;
}
button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}
h3.navigation {
    display: inline-block;  
    margin-right: 100px;
    text-align: center;
    position: relative;
}
        
#MAS {
    left: 50px; 
    top: -100px; 
 }
        
#Pics {
    left: 60px; 
    top: -100px;
}
        
#Vid {
    left: 80px;
    top: -100px;
}

.header {
    background-color: #d9edff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.botom {
    background-color: #d9edff;
    color: #fff;
    margin-bottom: 0rem;
    padding: 1rem;
    text-align: center;
}

